<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">
        PAYAL
        <br>
        WEDS
        <br>
        ADITYA
      </div>
      <div class="scroll">
        scroll for more
        <%= image_tag 'scroll.png' %>
      </div>
    </div>
  </div>
  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
    </div>
  </div>
  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      &nbsp;
    </div>
  </div>
  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
    </div>
  </div>
  <div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      &nbsp;
    </div>
  </div>
  <div id="group6" class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
    </div>
  </div>
  <div id="group7" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      &nbsp;
    </div>
  </div>
  <div id="group8" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">
        <a href="http://registry.theknot.com/payal-sinha-aditya-raghuwanshi-december-2014-ca/8983021" target="_blank" style="text-decoration: none">
          <button class="registry-button">WEDDING REGISTRY</button>
        </a>
      </div>
    </div>
  </div>
</div>